@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
 
}
body{
    padding-left: 200px;
  
}
    

        .sidenav {
            height: 100%;
            width: 250px;
            background-color: #5f6061;
            position: fixed;
            bottom: 0;
            left: 0;
            padding-top: 20px;
          
            
        }

        .sidenav a {
            padding: 15px;
            text-decoration: none;
            font-size: 18px;
            color: white;
            display: block;
        }

        .sidenav a:hover {
            background-color: #575757;
        }

        .dropdown-btn {
            padding: 15px;
            font-size: 18px;
            color: white;
            background: none;
            border: none;
            text-align: left;
            cursor: pointer;
            outline: none;
            width: 100%;
        }

        .dropdown-container {
            display: none; /* Hidden by default */
            padding-left: 20px; /* Indent for dropdown items */
        }

        .dropdown-container a {
            font-size: 16px;
            color: #818181;
        }

        .dropdown-container a:hover {
            color: white;
        }

        .active {
            background-color: #575757;
        }